<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Education Zone</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="topPan">
	<a href="index.html"><img src="images/logo.png" alt="Education Zone" width="245" height="37" border="0"  class="logo" title="Education Zone"/></a>
	<p>Mission-Control Center</p>
		
  <div id="topContactPan">
  </div>
	<div id="topMenuPan">
	  <div id="topMenuLeftPan"></div>
	  
	  <div id="topMenuMiddlePan">
	  	<ul>
			<li class="home">Home</li>
			<li><a href="#">About me</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Interests</a></li>
			<li><a href="#">University</a></li>
			<li><a href="#">Resume</a></li>
			<li><a href="#">Blog</a></li>
			<li class="contact"><a href="#">Contact</a></li>
		</ul>
	  </div>
	  <div id="topMenuRightPan"></div>
	</div>
</div>

<div id="bodyPan">
  <div id="bodyLeftPan">
  	<h2><span>TODAY</span> flight plan</h2>
	<p>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef </p>
	<p>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef </p>
	<p>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef </p>
	<p>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef </p>
	<p>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef </p>
	<!--p>Education Zone is a free, tableless, W3C-compliant web design layout by <span>Template World</span>. This template has been tested and proven compatible with all major browser environments and operating systems. You are free to modify the design to suit your tastes in any way you like.</p>
	<p>We only ask you to not remove "Design by Template World" and the link <span>http://www.templateworld.com</span> from the footer of the template.</p>
	<p>If you are interested in seeing more of our free web template designs feel free to visit our website, Template World. We intend to add at least 25 new <span>free templates</span> in the coming month.</p>
	<ul>
		<li><a href="#">Ndui et fermentum ullamcorper, purus orci sagittis leo,ac</a> </li>
		<li><a href="#">Ndui et fermentum ullamcorper, purus orci sagittis leo,ac </a></li>
	</ul-->
	<p class="more"><a href="#">PRINT</a></p>
	

	<h2><span>AFFECTED</span> lists</h2>
    <div id="bookcatagories">
	  
      <div id="nameonePan">
	  	<ul>
			<li>Operative TOBUY</li>
			<li>Work TODO</li>
			<li>Home TODO</li>
		</ul>
	  </div>
		
      <div id="priceonePan">
	  	<ul>
			<li>shops</a></li>
			<li>work</li>
			<li>home</li>
		</ul>
	  </div>
	  
      <div id="discountonePan">
	  	<ul>
			<li><font color="black">[>>]</font></li>
			<li><font color="darkgrey">[||]</font></li>
			<li><font color="black">[>>]</font></li>
		</ul>
	  </div>
    </div>
  </div>
  
  <div id="bodyRightPan">
  	<h2><span>Contexts</span> pane</h2>
	<ul>
		<li><a href="#">university</a> </li>
		<li><a href="#">home</a> </li>
		<li><a href="#">work</a> </li>
		<li><a href="#">shops</a> </li>
		<li><a href="#">shops</a> </li>
		<li><a href="#">shops</a> </li>
		<li><a href="#">any</a> </li>
	</ul>
		<p class="more"><a href="#">EDIT</a></p>
		<h3><span>Reference</span> pane</h3>
		<p class="boldtext">03 oct 2006</p>
		<p><a href="#">Экзамен по Кожанову</a></p>
		
	
		<p class="boldtext">03 oct 2006</p>
		<p><a href="#">Очередное скотомудилище</a></p>
		

		<p class="boldtext">03 oct 2006</p>
		<p><a href="#">Очередное скотомудилище</a></p>
		

		<p class="boldtext">03 oct 2006</p>
		<p><a href="#">Очередное скотомудилище</a></p>
		<p class="more"><a href="#">EDIT</a></p>
  </div>
</div>

<div id="footermainPan">
  <div id="footerPan">
  	<ul>
			<li class="home"><a href="#">Home</a> |</li>
			<li><a href="#">About me</a> |</li>
			<li><a href="#">Photos</a> |</li>
			<li><a href="#">Interests</a> |</li>
			<li><a href="#">University</a> |</li>
			<li><a href="#">Resume</a> |</li>
			<li><a href="#">Blog</a> |</li>
			<li><a href="#">Contact</a></li>
	</ul>
	
  </div>
</div>
</body>
</html>
