<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

        <display-name>GTD Personal Task Manager</display-name>

        <filter>
                <display-name>Stripes Filter</display-name>
                <filter-name>StripesFilter</filter-name>
                <filter-class>net.sourceforge.stripes.controller.StripesFilter</filter-class>
                <init-param>
                    <param-name>ActionResolver.UrlFilters</param-name>
                    <param-value>WEB-INF/classes</param-value>
                </init-param>
                <init-param>
                    <param-name>ActionResolver.PackageFilters</param-name>
                    <param-value>org.localstorm.mcc.web.gtd.actions</param-value>
                </init-param>
                <init-param>
                    <param-name>LocalePicker.Locales</param-name>
                    <param-value>en_US:UTF-8</param-value>
                </init-param>
        </filter>

        <filter>
                <display-name>403 Filter</display-name>
                <filter-name>RestrictionFilter</filter-name>
                <filter-class>org.localstorm.mcc.web.filter.RestrictionFilter</filter-class>
        </filter>

        <filter>
                <display-name>Auth Filter</display-name>
                <filter-name>AuthFilter</filter-name>
                <filter-class>org.localstorm.mcc.web.filter.AuthFilter</filter-class>
        </filter>

        <filter>
                <display-name>Tx Filter</display-name>
                <filter-name>TxFilter</filter-name>
                <filter-class>org.localstorm.mcc.web.filter.TxFilter</filter-class>
        </filter>

        <filter>
                <display-name>Lazy Load Filter</display-name>
                <filter-name>LazyLoadFilter</filter-name>
                <filter-class>org.localstorm.mcc.web.gtd.filter.LazyLoadFilter</filter-class>
        </filter>

        <filter>
                <display-name>Cashflow Lazy Load Filter</display-name>
                <filter-name>CfLazyLoadFilter</filter-name>
                <filter-class>org.localstorm.mcc.web.cashflow.filter.LazyLoadFilter</filter-class>
        </filter>
        
        <filter-mapping>
                <filter-name>RestrictionFilter</filter-name>
                <url-pattern>*.jsp</url-pattern>
                <dispatcher>REQUEST</dispatcher>
        </filter-mapping>
        
        <filter-mapping>
                <filter-name>AuthFilter</filter-name>
                <servlet-name>StripesDispatcher</servlet-name>
                <dispatcher>REQUEST</dispatcher>
        </filter-mapping>
        
        <filter-mapping>
                <filter-name>TxFilter</filter-name>
                <servlet-name>StripesDispatcher</servlet-name>
                <dispatcher>REQUEST</dispatcher>
        </filter-mapping>
        
        <filter-mapping>
                <filter-name>LazyLoadFilter</filter-name>
                <servlet-name>StripesDispatcher</servlet-name>
                <dispatcher>REQUEST</dispatcher>
        </filter-mapping>

        <filter-mapping>
                <filter-name>CfLazyLoadFilter</filter-name>
                <servlet-name>StripesDispatcher</servlet-name>
                <dispatcher>REQUEST</dispatcher>
        </filter-mapping>

        <filter-mapping>
                <filter-name>StripesFilter</filter-name>
                <servlet-name>StripesDispatcher</servlet-name>
                <dispatcher>REQUEST</dispatcher>
        </filter-mapping>
        
        <servlet>
                <servlet-name>StripesDispatcher</servlet-name>
                <servlet-class>net.sourceforge.stripes.controller.DispatcherServlet</servlet-class>
                <load-on-startup>1</load-on-startup>
        </servlet>
        
        <servlet>
                <servlet-name>AuthServlet</servlet-name>
                <servlet-class>org.localstorm.mcc.web.AuthServlet</servlet-class>
                <load-on-startup>2</load-on-startup>
        </servlet>
        
        <servlet-mapping>
                <servlet-name>StripesDispatcher</servlet-name>
                <url-pattern>/actions/*</url-pattern>
        </servlet-mapping>
        
        <servlet-mapping>
                <servlet-name>AuthServlet</servlet-name>
                <url-pattern>/auth</url-pattern>
        </servlet-mapping>


</web-app>
