<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Education Zone</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="topPan">
	<a href="index.html"><img src="images/logo.png" alt="Education Zone" width="245" height="37" border="0"  class="logo" title="Miccion-Control Center"/></a>
	<p>Mission-Control Center</p>
		
  <div id="topContactPan">
  </div>
	<div id="topMenuPan">
	  <div id="topMenuLeftPan"></div>
	  
	  <div id="topMenuMiddlePan">
	  	<ul>
			<li class="home">Home</li>
			<li><a href="#">About me</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Interests</a></li>
			<li><a href="#">University</a></li>
			<li><a href="#">Resume</a></li>
			<li><a href="#">Blog</a></li>
			<li class="contact"><a href="#">Contact</a></li>
		</ul>
	  </div>
	  <div id="topMenuRightPan"></div>
	</div>
</div>

<div id="bodyPan">
  <div id="bodyLeftPan">
  	<h2><span>TASKS</span> list </h2>
	<div align="right" ><a href="#" title="Paste task"><img src="images/paste.png" border="0" /></a><a href="#" title="Utilize"><img src="images/utilize.png" border="0" /></a><a href="#" title="Day before"><img src="images/backward.png" border="0" /></a>(My mega cool and very long list name)<a href="#" title="Next day"><img src="images/forward.png" border="0"/></a></div> 
	<p>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef<hr/></p>
	<div align="right"><a href="#" title="Cut"><img border="0" src="images/cut.png"/></a><a href="#" title="Expand"><img src="images/expand.png" border="0" /></a><a href="#" title="Finish"><img border="0" src="images/finish.png"/></a><a href="#" title="Cancel"><img border="0" src="images/cancel.png"/></a><a href="#" title="Delegate"><img border="0" src="images/delegate.png"/></a><a href="#" title="Delete"><img border="0" src="images/trash.png"/></a></div>

	<p>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef<hr/></p>
	<div align="right"><a href="#" title="Cut"><img border="0" src="images/cut.png"/></a><a href="#" title="Expand"><img src="images/expand.png" border="0" /></a><a href="#" title="Finish"><img border="0" src="images/finish.png"/></a><a href="#" title="Cancel"><img border="0" src="images/cancel.png"/></a><a href="#" title="Delegate"><img border="0" src="images/delegate.png"/></a><a href="#" title="Delete"><img border="0" src="images/trash.png"/></a></div>
	
	<p>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef<hr/></p>
	<div align="right"><a href="#" title="Cut"><img border="0" src="images/cut.png"/></a><a href="#" title="Expand"><img src="images/expand.png" border="0" /></a><a href="#" title="Finish"><img border="0" src="images/finish.png"/></a><a href="#" title="Cancel"><img border="0" src="images/cancel.png"/></a><a href="#" title="Delegate"><img border="0" src="images/delegate.png"/></a><a href="#" title="Delete"><img border="0" src="images/trash.png"/></a></div>

	<p><a href="#" title="Not done"><img border="0" src="images/done.png" /></a>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef<hr/></p>

	<p><a href="#" title="Not cancelled"><img border="0" src="images/cancelled.png" /></a>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef<hr/></p>

	<p><a href="#" title="Not delegated"><img border="0" src="images/delegated.png" /></a>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef<hr/></p>
	
	<p><a href="#" title="Not deleted"><img border="0" src="images/deleted.png" /></a>diansduian au nd ue wne wenwen uqwen fnwqe fwenf uwe finwe fwqe ifniwen fweq nfiwqen iwne fiunwef inwef<hr/></p>

	<p class="more"><a href="#">PRINT</a></p>
	

	<h2><span>AFFECTED</span> lists</h2>
    <div id="bookcatagories">
	  
      <div id="nameonePan">
	  	<ul>
			<li>Operative TOBUY</li>
			<li>Work TODO</li>
			<li>Home TODO</li>
		</ul>
	  </div>
		
      <div id="priceonePan">
	  	<ul>
			<li>shops</a></li>
			<li>work</li>
			<li>home</li>
		</ul>
	  </div>
	  
      <div id="discountonePan">
	  	<ul>
			<li><font color="black"><img src="images/active.png"/></font></li>
			<li><font color="darkgrey"><img src="images/inactive.png"/></font></li>
			<li><font color="black"><img src="images/active.png"/></font></li>
		</ul>
	  </div>
    </div>
  </div>
  
  <div id="bodyRightPan">
  	<h2><span>Contexts</span> pane</h2>
	<ul>
		<li><a href="#">university</a> </li>
		<li><a href="#">home</a> </li>
		<li><a href="#"><b>work</b></a> </li>
		<li><a href="#">shops</a> </li>
		<li><a href="#">shops</a> </li>
		<li><a href="#">shops</a> </li>
		<li><a href="#">any</a> </li>
	</ul>
		<p class="more"><a href="#">EDIT</a></p>
		<h3><span>Reference</span> pane</h3>
		<p class="boldtext">03 oct 2006</p>
		<p><a href="#">Экзамен по Кожанову</a></p>
		
	
		<p class="boldtext">03 oct 2006</p>
		<p><a href="#">Очередное скотомудилище</a></p>
		

		<p class="boldtext">03 oct 2006</p>
		<p><a href="#">Очередное скотомудилище</a></p>
		

		<p class="boldtext">03 oct 2006</p>
		<p><a href="#">Очередное скотомудилище</a></p>
		<p class="more"><a href="#">ALL</a></p>
  </div>
</div>

<div id="footermainPan">
  <div id="footerPan">
  	<ul>
			<li class="home"><a href="#">Home</a> |</li>
			<li><a href="#">About me</a> |</li>
			<li><a href="#">Photos</a> |</li>
			<li><a href="#">Interests</a> |</li>
			<li><a href="#">University</a> |</li>
			<li><a href="#">Resume</a> |</li>
			<li><a href="#">Blog</a> |</li>
			<li><a href="#">Contact</a></li>
	</ul>
	
  </div>
</div>
</body>
</html>
